<app-logout-timer></app-logout-timer>
<div class="main">
  <app-sidebar
    class="violet-theme"
    [projects]="(projects$ | async) || []"></app-sidebar>
  <div class="main__content">
    <div class="main__tile">
      <div class="main__space main__space-left"></div>
      <div class="main__space main__space-right">
        <app-user-avatar></app-user-avatar>
      </div>
    </div>
    <div class="main__rectangle z-index-2"></div>
    <mat-icon (click)="toggleDarkMode()" class="main__color-mode-icon"
      >contrast</mat-icon
    >
  </div>
</div>
