<app-logout-timer></app-logout-timer>
<div class="main">
  <app-sidebar
    class="violet-theme"
    [projects]="(projects$ | async) || []"></app-sidebar>
  <div class="main__content">
    <div class="main__tile">
      <div class="main__space main__space-left">
        <div class="main__space-left--title">Tasks</div>
        <div class="main__to-do-tiles-container">
          <app-tile
            class="yellow-theme"
            [mainContentText]="toDoTask$ | async"
            mainContentClassList="text-center text-bold"
            subContentText="To do"></app-tile>
          <app-tile
            class="green-theme"
            [mainContentText]="doneTask$ | async"
            mainContentClassList="text-center text-bold"
            subContentText="Done"></app-tile>
        </div>
      </div>
      <div class="main__space main__space-right">
        <app-user-avatar
          [userNameAndSurname]="userNameSurname$ | async"
          [userImageName]="userImageName$ | async"></app-user-avatar>
        <app-progress-bar-container
          label="Your goal"
          class="green-theme"
          [value]="progres$ | async"
          unit="%"></app-progress-bar-container>
        <div class="main__space-hurry-up">
          <div>Hurry up</div>
          <app-tasks-list [tasks]="(hurryUp$ | async) || []"></app-tasks-list>
        </div>
      </div>
    </div>
    <div class="main__rectangle z-index-2"></div>
    <mat-icon (click)="toggleDarkMode()" class="main__color-mode-icon"
      >contrast</mat-icon
    >
  </div>
</div>
