<div class="example-container-class">
  <div>
    <div>
      <button color="primary" mat-fab extended>
        <mat-icon>home</mat-icon>
        Home
      </button>
    </div>
    <div class="green-theme">
      <button color="primary" mat-fab extended>
        <mat-icon>home</mat-icon>
        Home
      </button>
    </div>

    <div class="yellow-theme">
      <button color="primary" mat-fab extended>
        <mat-icon>home</mat-icon>
        Home
      </button>
    </div>

    <div class="orange-theme">
      <button color="primary" mat-fab extended>
        <mat-icon>home</mat-icon>
        Home
      </button>
    </div>

    <div class="red-theme">
      <button color="primary" mat-fab extended>
        <mat-icon>home</mat-icon>
        Home
      </button>
    </div>

    <div class="blue-theme">
      <button color="primary" mat-fab extended>
        <mat-icon>home</mat-icon>
        Home
      </button>
    </div>
    <div class="violet-theme">
      <button color="primary" mat-fab extended>
        <mat-icon>home</mat-icon>
        Home
      </button>
    </div>
    <div class="pink-theme">
      <button color="primary" mat-fab extended>
        <mat-icon>home</mat-icon>
        Home
      </button>
    </div>
  </div>
  <div>
    <div>
      <button color="primary" mat-fab extended>
        <mat-icon>home</mat-icon>
        Home
      </button>
    </div>
    <div class="green-theme">
      <button color="primary" mat-fab extended>
        <mat-icon>home</mat-icon>
        Home
      </button>
    </div>

    <div class="yellow-theme">
      <button color="primary" mat-fab extended>
        <mat-icon>home</mat-icon>
        Home
      </button>
    </div>

    <div class="orange-theme">
      <button color="primary" mat-fab extended>
        <mat-icon>home</mat-icon>
        Home
      </button>
    </div>

    <div class="red-theme">
      <button color="primary" mat-fab extended>
        <mat-icon>home</mat-icon>
        Home
      </button>
    </div>

    <div class="blue-theme">
      <button color="primary" mat-fab extended>
        <mat-icon>home</mat-icon>
        Home
      </button>
    </div>
    <div class="violet-theme">
      <button color="primary" mat-fab extended>
        <mat-icon>home</mat-icon>
        Home
      </button>
    </div>
    <div class="pink-theme">
      <button color="primary" mat-fab extended>
        <mat-icon>home</mat-icon>
        Home
      </button>
    </div>
  </div>
</div>
