:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  .tasks--container {
    overflow: auto;
    flex: 1 1 auto;

    .tile--container .tile {
      margin-top: 1rem;
      margin-bottom: 1rem;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      //padding-right: 0.5rem;
    }
  }
}


